* {
  /* border: red 1px solid; */
  margin: 0;
  padding: 0;
}


.aboutme {
  display: flex;
  gap: 5%;
  align-items: center;
  padding: 10% 5%;
  background: url('/Users/eleanaortega/Desktop/Portfolio/client/src/imgs/photo-1530569673472-307dc017a82d copy.png') center/cover no-repeat; 
  color: black;
  width: 100%; 
  height: 95vh; 
}

#name {
  font-family:'Bebas neue';
  font-size: 85px
}

.aboutme-description{
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%; 
  padding-top: 20px;
}

.custom-btn {
  outline: solid 2px black;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.custom-btn a{
  text-decoration: none;
  color: white;
}

.custom-btn:hover {
  outline: none;
  color: white;
  background-color: black; 
}

.navbar {
  background-color: #60717e;
  box-shadow: 0px 0px 5px black;
}


.nav-link:hover{
  text-decoration: underline;
}

.profile-picture {
  height: 400px;
  width: 1100px;
  border-radius: 50%;
  box-shadow: 10px 10px 15px #d3d1d1c2;
}

.right-about {
  flex-grow: 2;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos{
  width: 100%;
  height: 400px;
  overflow: hidden;
  width: 100%;
  background-color: #ffffffb3 ;
  white-space: nowrap;
  position: relative;
  padding: 3%;
}

.logos-slide{
  display: inline-block;
  animation: 5s slide infinite linear;
}


.logo-pic{
  padding: 1%;
  height: 200px;
  width: 200px;
}

.logos:hover .logos-slide{
  animation: 35s slide infinite linear;
}

.logos:before,
.logos:after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
  
}

.logos:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255,0), #e1f0f98e);
}

.logos:after{ 
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255,0), #e1f0f98e);
}

#languages {
  color: #1a597b;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
}

#projects-title{
  text-align: start;
  color: black;
  font-weight: bolder;
  font-size: 35px;
  margin-left: 15px;
}

.aboutMe-icons img{ 
  width: 55px;
  height: 55px;
  margin: 5px;
}

.projects-card {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.projects {
  background-color: #538fb242;
  padding: 5%;
}

.card:hover {
  transform: translateY(-15px) translateX(-10px);
}

.card-body {
  word-wrap: break-word;
}
